importFrom(SeqArray, seqOpen, seqClose, seqGetData,
  seqSetFilter, seqSetFilterChrom, seqSetFilterCond,
  seqFilterPush, seqFilterPop,
  seqVCF2GDS, seqGDS2SNP)
importFrom(SNPRelate, snpgdsOpen, snpgdsClose,
  snpgdsAlleleSwitch, snpgdsLDMat)
importFrom(gdsfmt, index.gdsn, read.gdsn)

export(bcftoolsPipableCmd)
export(vcfs2Gds)
export(ldCalc)
export(liftOver)

export(hg19_1kg_phase3_vcf_urls)
export(hg38_1kg_30x_vcf_urls)
export(hg38_gnomad_1kg_hgdp_vcf_urls)
export(ucsc_human_chr_nm_map)
